<NectarineCreditWeb.Layouts.app_credit_assess flash={@flash}>
  <div class="flex justify-center items-center gap-2 h-screen" >
    <.scene_1 :if={@live_action == :scene_1 } form_1={@form_1} form_1_is_submitted={@form_1_is_submitted} total_score={@total_score} />
  </div>

</NectarineCreditWeb.Layouts.app_credit_assess>
